@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1");
*:not(h1,
h2,
h3,
h4,
h5,
h6,
h1 *,
h2 *,
h3 *,
h4 *,
h5 *,
h6 *) {
  font-family: "Dosis", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 *,
h2 *,
h3 *,
h4 *,
h5 *,
h6 * {
  font-family: "Karla", sans-serif;
}

p{
  font-size: 1.3rem;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

body {
  background: url(../img/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #305771;
}

header,
footer {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

b {
  color: #6499bd;
}

a {
  color: white;
  text-decoration: none;
  transition: 200ms ease-in-out color;
}
a .active {
  color: #a5dcff;
}
a:hover {
  color: #8cd2ff;
}

button,
a.button {
  background: #a5dcff;
  color: #305771;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  justify-content: center;
  transition: 200ms ease-in-out background, 200ms ease-in-out box-shadow;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}
button:hover,
a.button:hover {
  background: #8cd2ff;
  box-shadow: 0 0.25rem 0.55rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
button.icon,
a.button.icon {
  color: #a5dcff;
  background: white;
  padding: 0.5rem 0.75rem;
}
button.icon:hover,
a.button.icon:hover {
  background: rgba(223, 228, 228, 0.75);
}

.buttons {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

header {
  position: fixed;
  margin: 0 auto 0.5rem auto;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 1.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  width: 80%;
}
header ul {
  list-style: none;
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  align-items: center;
}
header ul li {
  padding: 0;
}
header ul li a {
  color: #305771;
}
header ul li a:hover {
  color: #75a5c5;
}

.big-square {
  border: solid 3px #a5dcff;
  width: 25rem;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 0.5rem 2rem rgba(216, 240, 255, 0.25);
  -webkit-animation: 5s ease-in-out infinite floatingAnimation;
          animation: 5s ease-in-out infinite floatingAnimation;
  z-index: -1;
}
.big-square * {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.big-square img {
  -o-object-fit: cover;
     object-fit: cover;
}

.text-nb {
  display: flex;
  flex-direction: column;
  height: 30rem;
  align-items: center;
  justify-content: center;
}
.text-nb.text {
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 2rem;
  min-width: 20rem;
}

main {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  row-gap: 1rem;
  padding-top: 8rem;
}
main h2.title {
  margin: 1.5rem 0 0.5rem 0;
}
main #home {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  padding: 1rem 0 0 0;
}
main #home .text-nb {
  margin: auto;
  text-align: justify;
  align-items: center;
}
main #home .text-nb h1 {
  margin: 0;
  font-size: 4rem;
  line-height: 3.7rem;
  padding: 1rem 0 0.25rem 0;
}
main #home .text-nb p {
  margin: 0;
  max-width: 70rem;
}
main #home .text-nb p:first-child {
  margin: 0 0 -0.75rem 0;
  color: #528db5;
}
main #projects .tag:hover {
  cursor: pointer;
  box-shadow: 0 0.35rem 0.25rem rgba(0, 0, 0, 0.2);
}
main #projects .project {
  display: flex;
  min-width: 20rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 25rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  background: white;
  color: #305771;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  align-items: center;
  transition: 200ms ease-in-out box-shadow;
  -webkit-animation: project-appear 300ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: project-appear 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
main #projects .project img {
  width: 4rem;
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 100%;
  margin: auto 0;
}
main #projects .project .text {
  display: flex;
  flex-direction: column;
}
main #projects .project .text .title {
  margin: 0;
}
main #projects .project .tags {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  row-gap: 0.25rem;
  padding-top: 0.25rem;
  flex-wrap: wrap;
}
main #projects .project .tags .tag {
  color: white;
  background: #305771;
  font-size: 1rem;
  padding: 0.35rem 0.75rem;
}
main #projects .project .tags .tag.active {
  background: #a5dcff;
  box-shadow: 0 0.25rem 0.25rem rgba(216, 240, 255, 0.75);
}
main #projects .project:hover {
  cursor: pointer;
  box-shadow: 0 0.35rem 0.25rem rgba(0, 0, 0, 0.3);
}
main #projects .empty-projects {
  padding: 1rem 0 0 0;
  display: flex;
  width: 100%;
  -webkit-animation: project-appear 300ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: project-appear 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
main #projects .empty-projects p {
  margin: 0;
}
main #projects #tags-list,
main #projects #projects-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
  row-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  row-gap: 0.5rem;

}
main #projects #tags-list#projects-list,
main #projects #projects-list#projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  margin-top: 0.5rem;
  min-height: 8rem;
}

main #projects #tags-list#projects-list .project,
main #projects #projects-list#projects-list .project {
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  width: 50%;
  height: 12rem;
  border-radius: 0.5rem;
  background: white;
  color: #305771;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}
.card img {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-shadow: 0.25rem 0 0.5rem rgba(216, 240, 255, 0.75);
}
.card .content {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 1rem;
  border-left: solid 0.5px rgba(216, 240, 255, 0.75);
}
.card .content .title {
  margin: 0;
}
.card .content p {
  margin: 0 0 1rem 0;
}
.card .content .buttons {
  margin: auto 0 0 0;
}

.tag {
  background: white;
  color: #305771;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  transition: 200ms ease-in-out box-shadow, 200ms ease-in-out background, 200ms ease-in-out color;
}
.tag.active {
  background: #a5dcff;
  color: white;
  box-shadow: 0 0.35rem 0.25rem rgba(48, 87, 113, 0.75);
}
.tag::-moz-selection {
  background: transparent;
}
.tag::selection {
  background: transparent;
}

#project-modal,
#image-modal {
  background: rgba(48, 87, 113, 0.85);
  color: #305771;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  -webkit-animation: project-modal-appear 300ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: project-modal-appear 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
#project-modal.disappear,
#image-modal.disappear {
  -webkit-animation: project-modal-disappear 300ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: project-modal-disappear 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
#project-modal .close,
#image-modal .close {
  position: fixed;
  top: 2.5%;
  left: 2.5%;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 100%;
  background: white;
  color: #c35959;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease-in-out box-shadow, 200ms ease-in-out background, 200ms ease-in-out color;
}
#project-modal .close:hover,
#image-modal .close:hover {
  cursor: pointer;
  box-shadow: 0 0.35rem 0.25rem rgba(209, 126, 126, 0.75);
  background: #c35959;
  color: white;
}
#project-modal .close span,
#image-modal .close span {
  font-size: 3rem;
  font-family: Nunito, sans-serif;
  line-height: 1.7rem;
  margin-top: -0.35rem;
}
#project-modal .modal,
#image-modal .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  width: 75%;
  min-height: 40%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  -webkit-animation: modal-appear 300ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: modal-appear 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
#project-modal .modal.image-modal,
#image-modal .modal.image-modal {
  background: transparent;
  padding: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 90%;
}
#project-modal .modal.image-modal img,
#image-modal .modal.image-modal img {
  height: 100%;
}
#project-modal .modal.image-modal p,
#image-modal .modal.image-modal p {
  position: fixed;
  bottom: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1.5rem;
  color: white;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 0 0 0.2rem #000;
}
#project-modal .modal.disappear,
#image-modal .modal.disappear {
  -webkit-animation: modal-disappear 300ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: modal-disappear 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
#project-modal .modal .title,
#image-modal .modal .title {
  margin: 1rem 0 0 0;
}
#project-modal .modal .tags,
#image-modal .modal .tags {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  row-gap: 0.25rem;
  padding-top: 0.25rem;
  flex-wrap: wrap;
}
#project-modal .modal .tags .tag,
#image-modal .modal .tags .tag {
  color: white;
  background: #305771;
  font-size: 1.2rem;
  padding: 0.35rem 0.75rem;
}
#project-modal .modal .tags .tag:hover,
#image-modal .modal .tags .tag:hover {
  cursor: default;
}
#project-modal .modal .images,
#image-modal .modal .images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
#project-modal .modal .images *,
#image-modal .modal .images * {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 1.5rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  transition: 200ms ease-in-out transform, 200ms ease-in-out box-shadow;
}
#project-modal .modal .images *:hover,
#image-modal .modal .images *:hover {
  transform: translateY(-0.5%);
  cursor: pointer;
  box-shadow: 0 0.35rem 0.25rem rgba(216, 240, 255, 0.75);
}
#project-modal .modal .buttons,
#image-modal .modal .buttons {
  padding: 1rem 0 0 0;
  margin: auto 0 0 auto;
}

footer {
  padding: 4rem 0 3rem 0;
  justify-content: center;
  background: linear-gradient(180deg, transparent, rgba(48, 87, 113, 0.8) 90%);
  width: 100%;
  color: #122029;
}

@-webkit-keyframes project-appear {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes project-appear {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes modal-appear {
  from {
    opacity: 0;
    transform: translate(-50%, -47.5%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes modal-appear {
  from {
    opacity: 0;
    transform: translate(-50%, -47.5%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@-webkit-keyframes modal-disappear {
  to {
    opacity: 0;
    transform: translate(-50%, -47.5%);
  }
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes modal-disappear {
  to {
    opacity: 0;
    transform: translate(-50%, -47.5%);
  }
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@-webkit-keyframes project-modal-disappear {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}
@keyframes project-modal-disappear {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}
@-webkit-keyframes project-modal-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes project-modal-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*
@-webkit-keyframes floatingAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes floatingAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
*/
@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
    padding-bottom: 2rem;
    width: 100%;
    height: auto;
  }
  header ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin: 0;
    padding: 0;
    -moz-column-gap: 0.85rem;
         column-gap: 0.85rem;
  }
  header li > a {
    font-size: 90%;
  }
  main #home {
    padding-top: 6rem;
    flex-direction: column;
    align-items: center;
  }
  main #home .text-nb {
    align-items: center;
    text-align: center;
    margin: 0 0 2rem 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .card {
    width: 100%;
  }
  .card img {
    width: 30%;
  }
  .projectMain {
    width: 100% !important;
  }
  .projectMain img {
    width: 30% !important;
  }
  .project {
    width: 80% !important;
  }
  #image-modal .modal.image-modal {
    width: 90%;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */